body
{
  margin: 0px;
  padding: 0px;
  background-color: #ddd;
}

#container
{
  position: absolute;
  top: 15%;
  left: 24%;
  width: 50%;
}

#content
{
  background-color: #a6d5e8;
  border-radius: 2em;
  -webkit-box-shadow: 2px 3px 9px 0px rgba(30, 14, 50, 0.37);
  -moz-box-shadow:    2px 3px 9px 0px rgba(30, 14, 50, 0.37);
  box-shadow:         2px 3px 9px 0px rgba(30, 14, 50, 0.37);
}

#title
{
  font-size: 3vw;
  font-size: 80px
}

#userInput
{
  color: #eee;
  background-color: #6b4c9a;
  font-size: 1vw;
  font-size: 28px;
  padding: 5em;
  padding-top: 1em;
  padding-bottom: 2em;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

#output
{
  padding : 5em;
}

.hidden
{
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
